.topnav {
	overflow: hidden;
	background-color: #9fffcb;
	height: 60px;
  
}
.topnav a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float:left;
	font-size: 22px;
	font-family: 'Raleway', sans-serif;
	
}
.topnav a:hover {
	background-color: #57cc99;
	color: white;
	height: 60px;
}
.topnav a.active {
	background-color: #9fffcb;
	color: black;
	float: left;
	margin-right: 40%;
	text-decoration:none;
	text-transform: uppercase;
	font-weight: 1000;
	pointer-events: none;
   cursor: default;
	
}


.dropdown {
  float: left;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;

}

.dropdown .dropbtn {
  font-size: 22px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

 .dropdown:hover .dropbtn {
  background-color: #57cc99;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #57cc99;
  color: white;
  height: 100px ;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.button {
  border-radius: 20px;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 120px;
  text-align: center;
  float: right;
  color: black;
  
}

.button1 {
	color: black; 
  background-color: white; 
  border: 2px solid black;
  
}

.button1:hover {
  background-color: #b4dbbb;
  color: white;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
   
  color: white;
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}



.button2 {
	color: black; 
  background-color: white; 
  border: 2px solid black;
}

.button2:hover {
  background-color: #b4dbbb;
  color: white;
}


.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.button2:hover span {
	color: white;
  padding-left: 25px;
}

.button2:hover span:after {
  opacity: 1;
  left: 0;
}
a{
	color: black;
}
